*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}


.hero{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(12,3,5R1,0,3),rgba(12,3,5R1,0,3));
    position: relative;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;

}




.content a{
    text-decoration: none;
    display: inline-block;
    color: 		black ;
    font-size: 24px;
   
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

.back-video{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
    
   
}
.content{
    text-align: center;
}

.content h1{
    font-size: 160px;
    color: black;
    font-weight: 600;
    font-weight: bold
   

}

.content h1:hover{
    -webkit-text-stroke: 2px#fff;
    color: transparent;
}

@media (min-aspect-ratio:16/9){
.back-video{
    width: 100%;
    height: auto;
    }
}
@media (max-aspect-ratio:16/9){
    .back-video{
        width: auto;
        height: 100%;
    }
}
.container{
    position: absolute;
    left: 50%;
    top: 80%;
    transform: translate(-50%,-50%);
    text-align: center;
  }
  

  
  .wrapper{
    width: 100%;
    table-layout: fixed;
    background-color: #cccccc;
    padding-bottom: 60px;

  }
  .main{
    background-color: #cccccc;
    margin: 0 auto;
    width: 100%;
    max-width: 600px;
    border-spacing: 0;
    font-family: sans-serif;
    color: #171a1b;
  }

 

input{
    border: none;
    width: 200px;
    height: 35px;
    
    text-align: center;
    
   
}
button{
   
    background-color: rgb(12, 14, 14);
    color: white;
    padding: 10 30px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 14px;
    border: none;
    cursor: pointer;
    text-align: center;
    margin-top: 120px;
    
    
}
button:hover{
    transition: .9s;
    background-color: #8d8c8c;
}